<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-success ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">

      <div class="navarea">
          <div class="navbar-nav">
              <button><a routerLink='/profile' routerLinkActive='active'> <span>Profile</span></a></button>

             <button><a routerLink='/repo'routerLinkActive='active' ><span>Repositories</span></a></button>
             
            </div>
      </div>
    </div>
  </nav>